.input {
  width: 300px;
  font-size: 32px;
  color: black;
  vertical-align: middle;
  color: black;
  border-radius: 16px;
  border: none;
  color: white;
}

.main::placeholder {
  color: lightgray;
}

.error::placeholder {
  color: red;
}
